@model UserListingViewModel

@{
    ViewData["Title"] = "All Users";
    int counter = 0;
}

<h1>@ViewData["Title"]</h1>
<hr />
<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Username</th>
        <th>Email</th>
        <th>Rating</th>
    </tr>
    @foreach (var user in Model.Users)
    {
        counter++;
        <tr>
            <td>@counter</td>
            <td>@user.UserName</td>
            <td>@user.Email</td>
            <td>@user.Rating</td>
        </tr>
    }
</table>


@if (Model.TotalUsers >= Model.Users.Count())
{
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="@(Model.CurrentPage == 1 ? "disabled" : string.Empty) page-item">
                <a asp-area="Admin"
                   asp-controller="Users"
                   asp-action="Index"
                   asp-route-page="@Model.PreviousPage"
                   aria-label="Previous" class="page-link">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="@(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty) page-item">
                <a asp-area="Admin"
                   asp-controller="Users"
                   asp-action="Index"
                   asp-route-page="@Model.NextPage"
                   aria-label="Next" class="page-link">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
}
