@model PublisherListingViewModel

@{
    ViewData["Title"] = "All Publishers";
    int counter = 0;
}

<h1>@ViewData["Title"]</h1>
<div class="row">
    <div class="col-md-2 offset-md-10">
        <a asp-area="Admin"
           asp-controller="Publishers"
           asp-action="Create"
           class="btn btn-primary">
            Create Account
        </a>
    </div>
</div>
<hr />
<table class="table table-bordered table-hover">
    <tr>
        <th>#</th>
        <th>
            <a asp-area="Admin"
               asp-controller="Publishers"
               asp-action="Index"
               asp-route-property="Username"
               asp-route-page="@Model.CurrentPage"
               asp-route-order="@(Model.OrderDirection == OrderDirectionType.Ascending ? "Descending" : "Ascending")"
               class="btn btn-lg btn-block">Username</a>
        </th>
        <th>
            <a asp-area="Admin"
               asp-controller="Publishers"
               asp-action="Index"
               asp-route-property="Email"
               asp-route-order="@(Model.OrderDirection == OrderDirectionType.Ascending ? "Descending" : "Ascending")"
               asp-route-page="@Model.CurrentPage"
               class="btn btn-lg btn-block">Email</a>
        </th>
    </tr>
    @foreach (var publisher in Model.Publishers)
    {
        counter++;
        <tr>
            <td>@counter</td>
            <td>
                <a asp-area=""
                   asp-controller="Users"
                   asp-action="Profile"
                   asp-route-userId="@publisher.Id">@publisher.UserName</a>
            </td>
            <td>@publisher.Email</td>
        </tr>
    }
</table>

@(await Html.PartialAsync("_PaginationPartial",
    new ViewDataDictionary(ViewData)
    {
        { "total", Model.TotalPublishers },
        { "totalCount", Model.Publishers.Count()},
        { "currentPage", Model.CurrentPage},
        { "previousPage", Model.PreviousPage },
        { "nextPage", Model.NextPage }
    }))