@model PublisherListingViewModel

@{
    ViewData["Title"] = "Create Publisher";
    int counter = 0;
}

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Username</th>
        <th>Email</th>
    </tr>
    @foreach (var publisher in Model.Publishers)
    {
        counter++;
        <tr>
            <td>@counter</td>
            <td>@publisher.UserName</td>
            <td>@publisher.Email</td>
        </tr>
    }
</table>


@if (Model.TotalPublishers >= Model.Publishers.Count())
{
    <nav aria-label="Page navigation example">
        <ul class="pagination">
            <li class="@(Model.CurrentPage == 1 ? "disabled" : string.Empty) page-item">
                <a asp-area="Admin"
                   asp-controller="Publishers"
                   asp-action="Index"
                   asp-route-page="@Model.PreviousPage"
                   aria-label="Previous" class="page-link">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="@(Model.CurrentPage == Model.TotalPages ? "disabled" : string.Empty) page-item">
                <a
                   asp-area="Admin"
                   asp-controller="Publishers"
                   asp-action="Index"
                   asp-route-page="@Model.NextPage"
                   aria-label="Next" class="page-link">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
}
